html {
  font-size: 16px;
}

html, button, input {
  font-family: "Poppins", sans-serif;

  color: #444444;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;

  width: 920px;
  margin: auto;

  padding: 16px;

  background: #E4E7EB;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.todo-item {
  margin-bottom: 12px;
  border-radius: 6px;

  padding: 8px 16px;
  background: white;

  box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.008);
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-item-leading, .todo-item-trailing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-name {
  width: 100px;
}

.todo-text {
  width: 200px;
}

.todo-status {
  width: 96px;
  overflow-x: hidden;
}

.add-todo-form h4 {
  font-weight: normal;
  margin: 16px 0;
}

.add-todo-form #add-todo-todo-name {
  width: 100px;
}

.add-todo-form #add-todo-todo-text {
  width: 200px;
}

.add-todo-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 16px;

  padding: 8px 16px;
  background: white;
  border-radius: 6px;
}

.todo-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.todo-svg-icon {
  width: 16px;
  height: 16px;
  display: block;
}

.todo-button-actions {
  position: relative;
  cursor: initial;

  display: block;
  width: 24px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 4px;

  transition: background-color, 0.1s ease-in;
  cursor: pointer;
}

.todo-button-actions:hover {

  background: #F6F6F6;
}

.todo-actions-list {
  position: absolute;

  background: white;
  width: 120px;

  top: 48px;
  right: -16px;

  opacity: 1;
  transition: visibility, opacity, 0.2s ease-in;

  z-index: 100;

  border-radius: 4px;
  box-shadow:  0px 0px 4px 8px rgba(0,0,0,0.008);
}

.todo-actions-list.todo-actions-list-hidden {
  visibility: hidden;
  opacity: 0;
}

.todo-actions-list ul {
  background: white;
  list-style-type: none;
  margin: 4px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-actions-list li {
  padding: 8px 16px;
  display: block;

  transition: background-color, 0.1s ease-in;
}

.todo-actions-list li:hover {
  background: #f6f6f6;
}

.todo-actions-list .todo-action-list-action {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.todo-button-status {
  width: 120px;
}

.todo-list-action-remove {
  color: #FC5B5B;
}


.text-input {
  position: relative;

  font-size: 16px;
  padding-top: 12px;
  transition: 0.15s ease-in;

  background: white;
}

.text-input-input {
  font-size: inherit;

  border: none;
  outline: none;
  width: 120px;
  overflow: hidden;

  padding: 0;

  transition: border-color 0.15s ease-in;
  border-bottom: 2px solid #bababa;

  width: 100%;
  display: block;
}

.text-input-input::placeholder {
  color: transparent;
}

.text-input-input:placeholder-shown ~ .text-input-label {
  font-size: 16px;
  bottom: 0px;

  cursor: text;
}

.text-input-input:focus {
  outline: none;
  border-color: blue;
}

.text-input-input:focus ~ .text-input-label {
  font-size: 10px;
  bottom: 24px;

  color: blue;
}

.text-input-label {
  position: absolute;
  
  left: 0;

  font-size: 10px;
  bottom: 24px;
  transition: 0.15s ease-in;

  color: #bababa;
}

.hidden {
  visibility: hidden;
}

hr.divider {
  margin: 0;
  border: none;
  border-bottom: 2px solid #bababa;
}

.todo-rounded-button {
  cursor: pointer;
  font-family: "Poppins";
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  border-radius: 20px;
}

.rounded-button-primary-white {
  background: white;
}

.rounded-button-primary-blue {
  background: #3C4FF4;
}

.rounded-button-primary-green {
  background: #27AE60;
}

.rounded-button-primary-red {
  background: #EB5757;
}

.rounded-button-primary-transparent {
  background: transparent;
}

.rounded-button-text-white {
  color: white;
}

.rounded-button-text-black {
  color: black;
}